In [1]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:95% !important; }</style>"))

In [2]:
import openml
import os
import pandas as pd
import math

## For loading data
from pathlib import Path
from typing import Union

In [3]:
# Functions to read data
def load_dataset(path: Union[Path, str]) -> pd.DataFrame:
    return pd.read_csv(path, index_col=0)


def load_rankings(path: Union[Path, str]) -> pd.DataFrame:
    out = pd.read_csv(path, index_col=0, header=[0, 1, 2, 3])
    out.columns.name = ("dataset", "model", "tuning", "scoring")
    return out

In [4]:
dir_data = '../../data/raw/'

# File names
filename_dataset = 'dataset.csv'

# Create paths for given files
filepath_dataset = os.path.join(dir_data, filename_dataset)

# Load data
dataset = load_dataset(filepath_dataset)

In [5]:
unique_datasets = dataset.dataset.unique()

# Idea explained

The basic idea is to generate a bunch of features. 
The best features will later be selected by a feature selection algorithm like RFECV, MRMR or something else.
The starting point is the ```dataset``` feature, which indicates the id of the dataset in [openml.org](https://www.openml.org/). 
Therefore, the [openml API](https://openml.github.io/openml-python/main/api.html#) is used. 

The first concept for creating the features is: 

![image](../../data/dataset_FE.svg)

### ToDos
[ ] Research and test openMLStudy

[ ] Research and test openMLTask

[ ] Research and test openMLRun

[ ] Research and test openml.datasets.list_qualities

# dataset_agg

### Get lists of possible attributes and an intersection

In [6]:
# Get intersection of keys which are in all datasets
list_of_keys = [set(openml.datasets.get_dataset(dataset_id=int(dataset_id)).qualities.keys()) for dataset_id in unique_datasets]
intersection = set.intersection(*list_of_keys)
intersection

Could not download file from http://openml1.win.tue.nl/dataset41224/dataset_41224.pq: Bucket does not exist or is private.

{'AutoCorrelation',
 'Dimensionality',
 'MajorityClassPercentage',
 'MajorityClassSize',
 'MinorityClassPercentage',
 'MinorityClassSize',
 'NumberOfBinaryFeatures',
 'NumberOfClasses',
 'NumberOfFeatures',
 'NumberOfInstances',
 'NumberOfInstancesWithMissingValues',
 'NumberOfMissingValues',
 'NumberOfNumericFeatures',
 'NumberOfSymbolicFeatures',
 'PercentageOfBinaryFeatures',
 'PercentageOfInstancesWithMissingValues',
 'PercentageOfMissingValues',
 'PercentageOfNumericFeatures',
 'PercentageOfSymbolicFeatures'}

In [7]:
# List of all attributes given by opeml
attribute_set = set()
for dataset_id in unique_datasets:
    attribute_list = list(openml.datasets.get_dataset(dataset_id=int(dataset_id)).qualities.keys())
    attribute_set.update(attribute_list)
attribute_set

Could not download file from http://openml1.win.tue.nl/dataset41224/dataset_41224.pq: Bucket does not exist or is private.

{'AutoCorrelation',
 'CfsSubsetEval_DecisionStumpAUC',
 'CfsSubsetEval_DecisionStumpErrRate',
 'CfsSubsetEval_DecisionStumpKappa',
 'CfsSubsetEval_NaiveBayesAUC',
 'CfsSubsetEval_NaiveBayesErrRate',
 'CfsSubsetEval_NaiveBayesKappa',
 'CfsSubsetEval_kNN1NAUC',
 'CfsSubsetEval_kNN1NErrRate',
 'CfsSubsetEval_kNN1NKappa',
 'ClassEntropy',
 'DecisionStumpAUC',
 'DecisionStumpErrRate',
 'DecisionStumpKappa',
 'Dimensionality',
 'EquivalentNumberOfAtts',
 'J48.00001.AUC',
 'J48.00001.ErrRate',
 'J48.00001.Kappa',
 'J48.0001.AUC',
 'J48.0001.ErrRate',
 'J48.0001.Kappa',
 'J48.001.AUC',
 'J48.001.ErrRate',
 'J48.001.Kappa',
 'MajorityClassPercentage',
 'MajorityClassSize',
 'MaxAttributeEntropy',
 'MaxKurtosisOfNumericAtts',
 'MaxMeansOfNumericAtts',
 'MaxMutualInformation',
 'MaxNominalAttDistinctValues',
 'MaxSkewnessOfNumericAtts',
 'MaxStdDevOfNumericAtts',
 'MeanAttributeEntropy',
 'MeanKurtosisOfNumericAtts',
 'MeanMeansOfNumericAtts',
 'MeanMutualInformation',
 'MeanNoiseToSignalRatio',
 'MeanNominalAttDistinctValues',
 'MeanSkewnessOfNumericAtts',
 'MeanStdDevOfNumericAtts',
 'MinAttributeEntropy',
 'MinKurtosisOfNumericAtts',
 'MinMeansOfNumericAtts',
 'MinMutualInformation',
 'MinNominalAttDistinctValues',
 'MinSkewnessOfNumericAtts',
 'MinStdDevOfNumericAtts',
 'MinorityClassPercentage',
 'MinorityClassSize',
 'NaiveBayesAUC',
 'NaiveBayesErrRate',
 'NaiveBayesKappa',
 'NumberOfBinaryFeatures',
 'NumberOfClasses',
 'NumberOfFeatures',
 'NumberOfInstances',
 'NumberOfInstancesWithMissingValues',
 'NumberOfMissingValues',
 'NumberOfNumericFeatures',
 'NumberOfSymbolicFeatures',
 'PercentageOfBinaryFeatures',
 'PercentageOfInstancesWithMissingValues',
 'PercentageOfMissingValues',
 'PercentageOfNumericFeatures',
 'PercentageOfSymbolicFeatures',
 'Quartile1AttributeEntropy',
 'Quartile1KurtosisOfNumericAtts',
 'Quartile1MeansOfNumericAtts',
 'Quartile1MutualInformation',
 'Quartile1SkewnessOfNumericAtts',
 'Quartile1StdDevOfNumericAtts',
 'Quartile2AttributeEntropy',
 'Quartile2KurtosisOfNumericAtts',
 'Quartile2MeansOfNumericAtts',
 'Quartile2MutualInformation',
 'Quartile2SkewnessOfNumericAtts',
 'Quartile2StdDevOfNumericAtts',
 'Quartile3AttributeEntropy',
 'Quartile3KurtosisOfNumericAtts',
 'Quartile3MeansOfNumericAtts',
 'Quartile3MutualInformation',
 'Quartile3SkewnessOfNumericAtts',
 'Quartile3StdDevOfNumericAtts',
 'REPTreeDepth1AUC',
 'REPTreeDepth1ErrRate',
 'REPTreeDepth1Kappa',
 'REPTreeDepth2AUC',
 'REPTreeDepth2ErrRate',
 'REPTreeDepth2Kappa',
 'REPTreeDepth3AUC',
 'REPTreeDepth3ErrRate',
 'REPTreeDepth3Kappa',
 'RandomTreeDepth1AUC',
 'RandomTreeDepth1ErrRate',
 'RandomTreeDepth1Kappa',
 'RandomTreeDepth2AUC',
 'RandomTreeDepth2ErrRate',
 'RandomTreeDepth2Kappa',
 'RandomTreeDepth3AUC',
 'RandomTreeDepth3ErrRate',
 'RandomTreeDepth3Kappa',
 'StdvNominalAttDistinctValues',
 'kNN1NAUC',
 'kNN1NErrRate',
 'kNN1NKappa'}

At first I will keep __all__ features and not just the ones, which are in every dataset present. 
Threrefore, I will create additional features in the dataset_agg table. 

Create a mapping of the attributes I want to create to the ones given by openml.

| My feature idea | Related feature from openml | Description |
| :- | :- | :- |
| row_count | NumberOfInstances | The number of instances = The number of rows in the dataset |
| column_count | NumberOfFeatures | The total number of features + targets |
| null_value_count | NumberOfMissingValues | Number of occuring null values |
| rows_with_null_values_count | NumberOfInstancesWithMissingValues | Number of rows with null values |
| columns_with_null_values_count |  | Number of features containing null values |
| ratio_of_null_values_to_all |  | $ = \dfrac{\text{null_value_count}}{\text{row_count} \times \text{total_feature_count}}$ |
| categorical_features_count |  | Self explaining. Give a __suggestion__ by calculation. But it has to be checked manually, since there can also be numerical features, which are just other category names. (e.g. the *geo_level_1_id* in the earthquake dataset)  |
| non_categorical_features_count |  | Self explaining. But has also to be checked manually. |
| ratio_of_categorical_features_to_all |  | $ = \dfrac{\text{categorical_features_count}}{\text{total_feature_count}} $ |
| sum_of_all_categories |  | Sum of the number of categories over all categorical values. Has to be checked manually. |
| categorical_target_variables_count |  | The number of classification tasks |
| non_categorical_target_variables_count |  | The number of regression tasks |
| categorical_target_values_sum | NumberOfClasses | The sum of classes to predict over all target variables |
| total_feature_count |  | The number of features to predict the target(s) |
| min_number_of_categories_per_cat_feature |  | Min number of categories in a categorical feature |
| max_number_of_categories_per_cat_feature |  | Max number of categories in a categorical feature |
| avg_number_of_categories_per_cat_feature |  | Avg number of categories per categorical feature |

### Create dataset and save it

In [8]:
# Init empty lists for feature values
list_dataset_id = []
list_row_count = []
list_column_count = []
list_null_value_count = []
list_rows_with_null_values_count = []
list_columns_with_null_values_count = []
list_ratio_of_null_values_to_all = []
list_categorical_features_count = []
list_non_categorical_features_count = []
list_ratio_of_categorical_features_to_all = []
list_sum_of_all_categories = []
list_categorical_target_variables_count = []
list_non_categorical_target_variables_count = []
list_categorical_target_values_sum = []
list_total_feature_count = []
list_min_number_of_categories_per_cat_feature = []
list_max_number_of_categories_per_cat_feature = []
list_avg_number_of_categories_per_cat_feature = []

In [9]:
# Remove the features already used above
attributs_to_remove_from_feature_set = set(["NumberOfInstances", "NumberOfMissingValues", "NumberOfInstancesWithMissingValues", "NumberOfClasses", "NumberOfFeatures"])

# Create lists for all attributes in the set
add_feature_list = attribute_set - attributs_to_remove_from_feature_set

# Create dict with lists for the features to add
feature_list_dict = {}
for feature_name in add_feature_list:
    feature_list_dict[feature_name] = []

In [10]:
def row_count(dataset):
    """
    Returns the count of rows in the provided dataset.

            Parameters:
                    dataset (openml.datasets.OpenMLDataset): A dataset object from openml.org

            Returns:
                    row_count (int): The number of rows in the provided dataset object 
    """
    return dataset.qualities.get('NumberOfInstances')

In [11]:
def column_count(dataset):
    return dataset.qualities.get('NumberOfFeatures')

In [12]:
def null_value_count(dataset):
    return dataset.qualities.get('NumberOfMissingValues')

In [13]:
def rows_with_null_values_count(dataset):
    return dataset.qualities.get('NumberOfInstancesWithMissingValues')

In [14]:
def columns_with_null_values_count(X):
    return sum(X.isna().any())

In [15]:
def ratio_of_null_values_to_all(dataset, X):
    return (null_value_count(dataset)) / (total_feature_count(X) * row_count(dataset))

In [16]:
def categorical_features_count(dataset):
    categorical_features_count = 0
    
    for k in dataset.features:
        # Operations on features
        if dataset.features[k].name not in dataset.default_target_attribute.split(','):
            if dataset.features[k].data_type in ['nominal', 'string']:
                categorical_features_count += 1
    
    #return sum(categorical_indicator)
    return categorical_features_count

In [17]:
def non_categorical_features_count(X, dataset):
    return total_feature_count(X) - categorical_features_count(dataset)

In [18]:
def ratio_of_categorical_features_to_all(X, dataset):
    return categorical_features_count(dataset) / total_feature_count(X)

In [19]:
def sum_of_all_categories(dataset, attribute_names):
    # ToDo: Maybe use the categorical indicator map
    sum_of_categories = 0
    
    for k in dataset.features:
        # Operations on features
        if dataset.features[k].name not in dataset.default_target_attribute.split(','):
            # Update min and max number of categories per features
            if dataset.features[k].data_type == 'nominal':
                sum_of_categories += len(dataset.features[k].nominal_values)
            if dataset.features[k].data_type == 'string':
                if dataset.features[k].name in attribute_names:
                    tmp = X[dataset.features[k].name].unique()
                    sum_of_categories += len(tmp)
    
    return sum_of_categories

In [20]:
def categorical_target_variables_count(dataset):
    count_of_cat_targets = 0
    
    for k in dataset.features:
        # Operations on features
        if dataset.features[k].name in dataset.default_target_attribute.split(','):
            if dataset.features[k].data_type in ['nominal', 'string']:
                count_of_cat_targets += 1
    
    return count_of_cat_targets

In [21]:
def non_categorical_target_variables_count(dataset):
    count_of_non_cat_targets = 0
    
    for k in dataset.features:
        # Operations on features
        if dataset.features[k].name in dataset.default_target_attribute.split(','):
            if dataset.features[k].data_type not in ['nominal', 'string']:
                count_of_non_cat_targets += 1
    
    return count_of_non_cat_targets

In [22]:
def categorical_target_values_sum(dataset):
    return dataset.qualities.get('NumberOfClasses')

In [23]:
def total_feature_count(X):
    return X.shape[1]

In [24]:
def min_number_of_categories_per_cat_feature(dataset, X, attribute_names):
    min_number_of_categories = math.inf
    
    for k in dataset.features:
        # Operations on features
        if dataset.features[k].name not in dataset.default_target_attribute.split(','):
            # Update min and max number of categories per features
            if dataset.features[k].data_type == 'nominal':
                if len(dataset.features[k].nominal_values) < min_number_of_categories:
                    min_number_of_categories = len(dataset.features[k].nominal_values)
            if dataset.features[k].data_type == 'string':
                if dataset.features[k].name in attribute_names:
                    tmp = X[dataset.features[k].name].unique()
                    if len(tmp) < min_number_of_categories:
                        min_number_of_categories = len(tmp)
    
    return min_number_of_categories

In [25]:
def max_number_of_categories_per_cat_feature(dataset, X, attribute_names):
    max_number_of_categories = -math.inf
    
    for k in dataset.features:
        # Operations on features
        if dataset.features[k].name not in dataset.default_target_attribute.split(','):
            # Update min and max number of categories per features
            if dataset.features[k].data_type == 'nominal':
                if len(dataset.features[k].nominal_values) > max_number_of_categories:
                    max_number_of_categories = len(dataset.features[k].nominal_values)
            if dataset.features[k].data_type == 'string':
                if dataset.features[k].name in attribute_names:
                    tmp = X[dataset.features[k].name].unique()
                    if len(tmp) > max_number_of_categories:
                        max_number_of_categories = len(tmp)
    
    return max_number_of_categories

In [26]:
def avg_number_of_categories_per_cat_feature(dataset, categorical_indicator, attribute_names):
    return sum_of_all_categories(dataset, attribute_names) / categorical_features_count(dataset)

In [27]:
def get_predefined_feature(dataset, feature_name):
    return dataset.qualities.get(feature_name)

In [28]:
# Traverse all unique datasets, call the functions and collect the information
for dataset_id in unique_datasets:
    print(dataset_id)
    
    # Get openml dataset object with the current id
    dataset = openml.datasets.get_dataset(dataset_id=int(dataset_id))
    
    # Get dataset
    X, y, categorical_indicator, attribute_names = dataset.get_data(
        target=dataset.default_target_attribute, dataset_format="dataframe"
    )
    
    # Apply functions
    list_dataset_id.append(dataset_id)
    list_row_count.append(row_count(dataset))
    list_column_count.append(column_count(dataset))
    list_null_value_count.append(null_value_count(dataset))
    list_rows_with_null_values_count.append(rows_with_null_values_count(dataset))
    list_columns_with_null_values_count.append(columns_with_null_values_count(X))
    list_ratio_of_null_values_to_all.append(ratio_of_null_values_to_all(dataset, X))
    list_categorical_features_count.append(categorical_features_count(dataset))
    list_non_categorical_features_count.append(non_categorical_features_count(X, dataset))
    list_ratio_of_categorical_features_to_all.append(ratio_of_categorical_features_to_all(X, dataset))
    list_sum_of_all_categories.append(sum_of_all_categories(dataset, attribute_names))
    list_categorical_target_variables_count.append(categorical_target_variables_count(dataset))
    list_non_categorical_target_variables_count.append(non_categorical_target_variables_count(dataset))
    list_categorical_target_values_sum.append(categorical_target_values_sum(dataset))
    list_total_feature_count.append(total_feature_count(X))
    list_min_number_of_categories_per_cat_feature.append(min_number_of_categories_per_cat_feature(dataset, X, attribute_names))
    list_max_number_of_categories_per_cat_feature.append(max_number_of_categories_per_cat_feature(dataset, X, attribute_names))
    list_avg_number_of_categories_per_cat_feature.append(avg_number_of_categories_per_cat_feature(dataset, categorical_indicator, attribute_names))
    
    # Iterate over the attributes in qualities
    for feature_name in add_feature_list:
        updated_list = feature_list_dict[feature_name]
        updated_list.append(get_predefined_feature(dataset, feature_name))
        feature_list_dict[feature_name] = updated_list

3
29
31
38
50
51
56
333
334
451
470
881
956
959
981
1037
1111
1112
1114
1169
1235
1461
1463
1486
1506
1511
1590
6332
23381
40536
40945
40981
40999
41005
41007
41162
41224

Could not download file from http://openml1.win.tue.nl/dataset41224/dataset_41224.pq: Bucket does not exist or is private.

42178
42343
42344
42738
42750
43098
43607
43890
43892
43896
43897
43900
43922

In [29]:
# Create a pandas dataframe and save it
feature_list_dict['dataset_id'] = list_dataset_id
feature_list_dict['row_count'] = list_row_count
feature_list_dict['column_count'] = list_column_count
feature_list_dict['null_value_count'] = list_null_value_count
feature_list_dict['rows_with_null_values_count'] = list_rows_with_null_values_count
feature_list_dict['columns_with_null_values_count'] = list_columns_with_null_values_count
feature_list_dict['ratio_of_null_values_to_all'] = list_ratio_of_null_values_to_all
feature_list_dict['categorical_features_count'] = list_categorical_features_count
feature_list_dict['non_categorical_features_count'] = list_non_categorical_features_count
feature_list_dict['ratio_of_categorical_features_to_all'] = list_ratio_of_categorical_features_to_all
feature_list_dict['sum_of_all_categories'] = list_sum_of_all_categories
feature_list_dict['categorical_target_variables_count'] = list_categorical_target_variables_count
feature_list_dict['non_categorical_target_variables_count'] = list_non_categorical_target_variables_count
feature_list_dict['categorical_target_values_sum'] = list_categorical_target_values_sum
feature_list_dict['total_feature_count'] = list_total_feature_count
feature_list_dict['min_number_of_categories_per_cat_feature'] = list_min_number_of_categories_per_cat_feature
feature_list_dict['max_number_of_categories_per_cat_feature'] = list_max_number_of_categories_per_cat_feature
feature_list_dict['avg_number_of_categories_per_cat_feature'] = list_avg_number_of_categories_per_cat_feature

dataset_agg = pd.DataFrame(feature_list_dict)

In [30]:
dataset_agg.head(50)

,CfsSubsetEval_kNN1NKappa,Quartile2KurtosisOfNumericAtts,REPTreeDepth2Kappa,CfsSubsetEval_DecisionStumpErrRate,MeanNominalAttDistinctValues,Quartile3KurtosisOfNumericAtts,MeanStdDevOfNumericAtts,REPTreeDepth1Kappa,RandomTreeDepth1AUC,MaxSkewnessOfNumericAtts,...,non_categorical_features_count,ratio_of_categorical_features_to_all,sum_of_all_categories,categorical_target_variables_count,non_categorical_target_variables_count,categorical_target_values_sum,total_feature_count,min_number_of_categories_per_cat_feature,max_number_of_categories_per_cat_feature,avg_number_of_categories_per_cat_feature
0,0.881192,NaN,0.972417,0.059136,2.027027,NaN,NaN,0.972417,0.945136,NaN,...,0,1.000000,74,1,0,2.0,36,2,3,2.055556
1,0.710175,15.348781,0.710515,0.143478,4.200000,91.789567,901.509141,0.710515,0.767221,13.140655,...,6,0.600000,41,1,0,2.0,15,2,14,4.555556
2,0.305697,0.919781,0.222543,0.273000,4.000000,1.649274,407.047619,0.222543,0.658024,1.949628,...,7,0.650000,56,1,0,2.0,20,2,11,4.307692
3,0.775972,8.871304,0.871287,0.025186,2.086957,90.942488,19.053878,0.871287,0.785261,13.882653,...,7,0.758621,46,1,0,2.0,29,1,5,2.090909
4,0.419222,NaN,0.529614,0.239040,2.900000,NaN,NaN,0.529614,0.770363,NaN,...,0,1.000000,27,1,0,2.0,9,3,3,3.000000
5,0.542654,0.810318,0.494327,0.210884,2.625000,3.379606,19.599081,0.494327,0.755854,1.548824,...,6,0.538462,19,1,0,2.0,13,2,4,2.714286
6,0.903872,NaN,0.903237,0.045977,2.000000,NaN,NaN,0.903237,0.962917,NaN,...,0,1.000000,32,1,0,2.0,16,2,2,2.000000
7,0.492806,NaN,0.758993,0.253597,2.714286,NaN,NaN,0.758993,0.934598,NaN,...,0,1.000000,17,1,0,2.0,6,2,4,2.833333
8,0.000000,NaN,-0.011301,0.342762,2.714286,NaN,NaN,-0.011301,0.623651,NaN,...,0,1.000000,17,1,0,2.0,6,2,4,2.833333
9,0.987864,-0.449467,1.000000,0.128000,4.250000,-0.398137,15.395027,1.000000,0.946626,0.446142,...,2,0.600000,15,1,0,2.0,5,2,10,5.000000
10,0.000000,-0.120152,0.000000,0.333333,12.600000,0.516805,5.649865,0.000000,0.548464,0.847413,...,5,0.444444,61,1,0,2.0,9,1,28,15.250000
11,0.993222,-1.198121,0.991282,0.003262,2.250000,-0.947720,27.437454,0.991282,0.991826,0.973765,...,7,0.300000,7,1,0,2.0,10,2,3,2.333333
12,-0.022588,NaN,-0.068217,0.386792,3.931034,NaN,NaN,-0.068217,0.542075,NaN,...,-1,1.017544,332,1,0,2.0,57,2,106,5.724138
13,1.000000,NaN,1.000000,0.000000,3.222222,NaN,NaN,1.000000,1.000000,NaN,...,0,1.000000,27,1,0,2.0,8,2,5,3.375000
14,0.658198,NaN,0.690271,0.134547,8.362319,NaN,NaN,0.690271,0.658528,NaN,...,0,1.000000,575,1,0,2.0,68,2,129,8.455882
15,0.555710,3.771143,0.477722,0.153661,10.888889,43.882641,19481.166750,0.477722,0.723642,10.753122,...,6,0.571429,96,1,0,2.0,14,2,39,12.000000
16,0.019610,93.969382,0.000000,0.017800,1833.487179,382.788214,402315.907281,0.000000,0.533939,148.082675,...,192,0.165217,71504,1,0,2.0,230,1,15415,1881.684211
17,0.024421,93.969382,0.000000,0.073440,1833.487179,382.788214,402315.907281,0.000000,0.539738,148.082675,...,192,0.165217,71504,1,0,2.0,230,1,15415,1881.684211
18,0.305862,93.969382,0.000000,0.061960,1833.487179,382.788214,402315.907281,0.000000,0.511138,148.082675,...,192,0.165217,71504,1,0,2.0,230,1,15415,1881.684211
19,0.247825,-0.356705,0.266403,0.357881,122.600000,2.756631,805.197588,0.266403,0.603066,1.493905,...,3,0.571429,611,1,0,2.0,7,7,293,152.750000
20,0.888149,-1.188969,0.880244,0.049296,9.000000,2.904589,36875.441378,0.880244,0.919446,0.965376,...,6,0.333333,34,1,0,2.0,9,5,20,11.333333
21,0.426406,18.153915,0.438941,0.099290,4.600000,140.751547,489.537870,0.438941,0.685994,41.846454,...,7,0.562500,44,1,0,2.0,16,2,12,4.888889
22,0.099576,NaN,0.134313,0.340000,2.833333,NaN,NaN,0.134313,0.824678,NaN,...,0,1.000000,15,1,0,2.0,5,2,5,3.000000
23,0.857595,9.352204,0.870562,0.057885,2.900000,27.391894,0.178223,0.870562,0.927379,1.960271,...,89,0.245763,85,1,0,2.0,118,2,3,2.931034
24,0.000000,0.748833,0.000000,0.148936,2.571429,30.481411,7.115385,0.000000,0.529196,5.633491,...,3,0.812500,34,1,0,2.0,16,2,7,2.615385
25,0.785595,20.914670,0.788788,0.095455,2.500000,54.689281,5996.325266,0.788788,0.859793,11.151586,...,7,0.125000,3,1,0,2.0,8,3,3,3.000000
26,0.563625,4.504454,0.546510,0.143708,11.222222,53.184034,18914.620327,0.546510,0.753893,11.894659,...,6,0.571429,99,1,0,2.0,14,2,41,12.375000
27,0.164175,1.464911,0.157332,0.379630,7.300000,5.481462,506.960278,0.157332,0.600326,11.529525,...,16,0.567568,881,1,0,2.0,37,2,429,41.952381
28,0.100170,-0.582089,0.099965,0.390000,13.083333,-0.582089,2.005364,0.045694,0.545271,-1.164765,...,1,0.916667,155,1,0,2.0,12,4,24,14.090909
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,57,0.525000,445,1,0,2.0,120,2,259,7.063492
30,NaN,10.095101,NaN,NaN,2.333333,22.912806,27.769024,NaN,NaN,4.367709,...,6,0.538462,2826,1,0,2.0,13,2,1307,403.714286
31,NaN,-0.537550,NaN,NaN,4.222222,0.878392,51.822194,NaN,NaN,2.125503,...,6,0.571429,36,1,0,2.0,14,2,14,4.500000
32,NaN,-1.303523,NaN,NaN,1.888889,-0.749601,2.481980,NaN,NaN,1.354408,...,20,0.565217,55,1,0,2.0,46,2,3,2.115385
33,NaN,-0.988472,NaN,NaN,1.962963,-0.293186,2.290510,NaN,NaN,1.096301,...,20,0.565217,55,1,0,2.0,46,2,3,2.115385
34,NaN,-0.931802,NaN,NaN,1.962963,-0.584988,2.041070,NaN,NaN,0.992934,...,20,0.565217,55,1,0,2.0,46,2,3,2.115385
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14,0.562500,2412,1,0,2.0,32,2,1063,134.000000
36,NaN,0.042044,NaN,NaN,6.593750,0.964163,1.182224,NaN,NaN,12.207636,...,26,0.543860,209,1,0,2.0,57,2,104,6.741935
37,NaN,-1.257260,NaN,NaN,NaN,1.362596,18.339380,NaN,NaN,1.833633,...,2,0.894737,6572,1,0,2.0,19,2,6531,386.588235
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,341,0.285115,24649,1,0,2.0,477,2,18543,181.242647
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,0.833333,21883,1,0,2.0,6,7,21838,4376.600000
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,1.000000,8619,1,0,2.0,5,2,4374,1723.800000
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13,0.682927,396,1,0,2.0,41,2,51,14.142857
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3,0.571429,15,1,0,2.0,7,2,6,3.750000
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,0.954545,4331,1,0,2.0,22,4,4173,206.238095
44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6,0.454545,14,1,0,2.0,11,2,6,2.800000
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9,0.437500,71,1,0,2.0,16,2,29,10.142857
46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,26,0.235294,29,1,0,2.0,34,1,9,3.625000
47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,25,0.242424,29,1,0,2.0,33,1,9,3.625000
48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,1.000000,15626,1,0,2.0,9,67,7518,1736.222222
49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,1.000000,117,1,0,2.0,22,1,12,5.318182

In [31]:
dataset_agg.to_csv('../../data/preprocessed/dataset_agg.csv')

In [32]:
dataset_agg.isna().any()

CfsSubsetEval_kNN1NKappa                     True
Quartile2KurtosisOfNumericAtts               True
REPTreeDepth2Kappa                           True
CfsSubsetEval_DecisionStumpErrRate           True
MeanNominalAttDistinctValues                 True
                                            ...
categorical_target_values_sum               False
total_feature_count                         False
min_number_of_categories_per_cat_feature    False
max_number_of_categories_per_cat_feature    False
avg_number_of_categories_per_cat_feature    False
Length: 120, dtype: bool

# features

In [33]:
list_feature_id = []
list_dataset_id = []
list_null_values_count = []
list_non_null_values_count = []
list_ratio_of_nan_values_to_all = []
list_min_value = []
list_max_value = []
list_avg_value = []
list_median_value = []
list_25_quantile = []
list_75_quantile = []
list_unique_values_count = []
list_data_type = []
list_is_target = []

In [34]:
def feature_id(feature):
    return feature.index

In [35]:
def null_values_count(feature):
    return feature.number_missing_values

In [36]:
def non_null_values_count(feature, X):
    return X.shape[0] - null_values_count(feature)

In [37]:
def ratio_of_nan_values_to_all(feature, X):
    return null_values_count(feature) / X.shape[0]

In [38]:
def min_value(feature, X):
    min_value = None
    if feature.data_type not in ['nominal', 'string']:
        if feature.name in X.columns and len(X[feature.name].dropna()) != 0:
            min_value = min(X[feature.name].dropna())
    
    return min_value

In [39]:
def max_value(feature, X):
    max_value = None
    if feature.data_type not in ['nominal', 'string']:
        if feature.name in X.columns and len(X[feature.name].dropna()) != 0:
            max_value = max(X[feature.name].dropna())
    
    return max_value

In [40]:
def avg_value(feature, X):
    avg_value = None
    if feature.data_type not in ['nominal', 'string']:
        if feature.name in X.columns and len(X[feature.name].dropna()) != 0:
            avg_value = X[feature.name].mean()
    
    return avg_value

In [41]:
def median_value(feature, X):
    median = None
    if feature.data_type not in ['nominal', 'string']:
        if feature.name in X.columns and len(X[feature.name].dropna()) != 0:
            median = X[feature.name].median()
    
    return median

In [42]:
def quantile_25(feature, X):
    quantile_25 = None
    if feature.data_type not in ['nominal', 'string']:
        if feature.name in X.columns and len(X[feature.name].dropna()) != 0:
            quantile_25 = X[feature.name].quantile(q=0.25)
    
    return quantile_25

In [43]:
def quantile_75(feature, X):
    quantile_75 = None
    if feature.data_type not in ['nominal', 'string']:
        if feature.name in X.columns and len(X[feature.name].dropna()) != 0:
            quantile_75 = X[feature.name].quantile(q=0.75)
    
    return quantile_75

In [44]:
def unique_values_count(feature, X, y, dataset):
    unique_values_count = 0
    if feature.name in dataset.default_target_attribute.split(','):
        unique_values_count = len(y.unique())
    else:
        if feature.name in X.columns:
            unique_values_count = len(X[feature.name].unique())
    
    return unique_values_count

In [45]:
def data_type(feature):
    return feature.data_type

In [46]:
def is_target(feature, dataset):
    return feature in dataset.default_target_attribute.split(',')

In [47]:
for dataset_id in unique_datasets:
    print(dataset_id)
    
    # Get openml dataset object with the current id
    dataset = openml.datasets.get_dataset(dataset_id=int(dataset_id))
    
    # Get dataset
    X, y, categorical_indicator, attribute_names = dataset.get_data(
        target=dataset.default_target_attribute, dataset_format="dataframe"
    )
    
    # Iterate over features
    for k in dataset.features:
        feature = dataset.features[k]
        
        # Call functions
        list_feature_id.append(feature_id(feature))
        list_dataset_id.append(dataset_id)
        list_null_values_count.append(null_values_count(feature))
        list_non_null_values_count.append(non_null_values_count(feature, X))
        list_ratio_of_nan_values_to_all.append(ratio_of_nan_values_to_all(feature, X))
        list_min_value.append(min_value(feature, X))
        list_max_value.append(max_value(feature, X))
        list_avg_value.append(avg_value(feature, X))
        list_median_value.append(median_value(feature, X))
        list_25_quantile.append(quantile_25(feature, X))
        list_75_quantile.append(quantile_75(feature, X))
        list_unique_values_count.append(unique_values_count(feature, X, y, dataset))
        list_data_type.append(data_type(feature))
        list_is_target.append(is_target(feature, dataset))

3
29
31
38
50
51
56
333
334
451
470
881
956
959
981
1037
1111
1112
1114
1169
1235
1461
1463
1486
1506
1511
1590
6332
23381
40536
40945
40981
40999
41005
41007
41162

Could not download file from http://openml1.win.tue.nl/dataset41224/dataset_41224.pq: Bucket does not exist or is private.

41224
42178
42343
42344
42738
42750
43098
43607
43890
43892
43896
43897
43900
43922

In [48]:
features_data = {}

features_data['feature_id'] = list_feature_id
features_data['dataset_id'] = list_dataset_id
features_data['null_values_count'] = list_null_values_count
features_data['non_null_values_count'] = list_non_null_values_count
features_data['ratio_of_nan_values_to_all'] = list_ratio_of_nan_values_to_all
features_data['min_value'] = list_min_value
features_data['max_value'] = list_max_value
features_data['avg_value'] = list_avg_value
features_data['median_value'] = list_median_value
features_data['25_quantile'] = list_25_quantile
features_data['75_quantile'] = list_75_quantile
features_data['unique_values_count'] = list_unique_values_count
features_data['data_type'] = list_data_type
features_data['is_target'] = list_is_target

features = pd.DataFrame(features_data)

In [49]:
features.head()

,feature_id,dataset_id,null_values_count,non_null_values_count,ratio_of_nan_values_to_all,min_value,max_value,avg_value,median_value,25_quantile,75_quantile,unique_values_count,data_type,is_target
0,0,3,0,3196,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2,nominal,False
1,1,3,0,3196,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2,nominal,False
2,2,3,0,3196,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2,nominal,False
3,3,3,0,3196,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2,nominal,False
4,4,3,0,3196,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2,nominal,False

In [50]:
features.isna().sum()

feature_id                       0
dataset_id                       0
null_values_count                0
non_null_values_count            0
ratio_of_nan_values_to_all       0
min_value                     1081
max_value                     1081
avg_value                     1081
median_value                  1081
25_quantile                   1081
75_quantile                   1081
unique_values_count              0
data_type                        0
is_target                        0
dtype: int64

In [51]:
features.shape

(2387, 14)

In [52]:
features.to_csv('../../data/preprocessed/features.csv')

# correlations